@using DomainLayer.Haqbahoo.ViewModel
@model CarViewModel
<div class="page-content">
    <div class="page-bar">
        <div class="page-title-breadcrumb">
            <div class="pull-left">
                <div class="page-title">Edit Car</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li>
                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                       asp-area="CRM" asp-controller="Dashboard" asp-action="index">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Edit Car</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Car.Id" />
                    <div class="card-body row">
                        <div class="col-lg-12 p-t-20">
                            <div class="row">
                                <!-- Transmission Dropdown -->
                                <div class="col-lg-6">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <select asp-for="Car.Transmission" class="mdl-textfield__input" style="background:black !important">
                                            <option value="" disabled selected>Select Transmission</option>
                                            <option value="Automatic">Automatic</option>
                                            <option value="Manual">Manual</option>
                                        </select>
                                        <span asp-validation-for="Car.Transmission" class="text-danger"></span>
                                    </div>
                                </div>

                                <!-- Category Dropdown -->
                                <div class="col-lg-6">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        <select asp-for="Car.CategoryId" class="mdl-textfield__input" required style="background:black !important">
                                            <option value="" disabled selected>Select a Category</option>
                                            @foreach (var category in Model.Category)
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Car.CategoryId" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12 p-t-20">
                            <label>Name</label>
                            <input class="mdl-textfield__input" asp-for="Car.Name" type="text" required>
                            <span asp-validation-for="Car.Name" class="text-danger"></span>
                        </div>

                        <div class="col-lg-12 p-t-20">
                            <label>Make</label>
                            <input class="mdl-textfield__input" asp-for="Car.Make" type="text" required>
                            <span asp-validation-for="Car.Make" class="text-danger"></span>
                        </div>

                        <div class="col-lg-12 p-t-20">
                            <label>Model</label>
                            <input class="mdl-textfield__input" asp-for="Car.Model" type="text" required>
                            <span asp-validation-for="Car.Model" class="text-danger"></span>
                        </div>

                        <div class="col-lg-12 p-t-20">
                            <label>Variant</label>
                            <input class="mdl-textfield__input" asp-for="Car.Variant" type="text" required>
                            <span asp-validation-for="Car.Variant" class="text-danger"></span>
                        </div>
                      
                        <div class="col-lg-12 p-t-20">
                            <label>Per Day Rent</label>
                            <input class="mdl-textfield__input" asp-for="Car.RentPerDay" type="number" min="1" required>
                            <span asp-validation-for="Car.RentPerDay" class="text-danger"></span>
                        </div>

                        <div class="col-lg-12 p-t-20">
                            <label>Upload Car Cover Image</label>
                            <input class="mdl-textfield__input" asp-for="Car.CoverImageFile" type="file" accept=".png, .jpg, .jpeg">
                           
                        </div>

                        <div class="col-lg-12 p-t-20">
                            <label>Upload Car Gallery Images</label>
                            <input class="mdl-textfield__input" asp-for="Car.GalleryImageFiles" type="file" multiple accept=".png, .jpg, .jpeg">
                            
                        </div>

                        @foreach (var feature in Model.Features)
                        {
                            <div class="col-lg-12 p-t-20">
                                <input type="checkbox" name="SelectedFeatureIds" value="@feature.Id" /> @feature.Name <br />
                            </div>
                        }

                        <div class="col-lg-12 p-t-20 text-center">
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary">Update</button>
                            <button type="button" onclick="window.history.back()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        document.getElementById('carForm').addEventListener('submit', function (e) {
            const rentInput = document.getElementById('Car_RentPerDay');
            if (isNaN(rentInput.value) || parseInt(rentInput.value) <= 0) {
                alert('Rent Per Day must be a positive number.');
                e.preventDefault();
            }
        });
    </script>
}
