@using DomainLayer.Haqbahoo.Entities
@model Feature
<div class="page-content">
	<div class="page-bar">
		<div class="page-title-breadcrumb">
			<div class=" pull-left">
				<div class="page-title">Edit Feature</div>
			</div>
			<ol class="breadcrumb page-breadcrumb pull-right">
				<li>
					<i class="fa fa-home"></i>&nbsp;<a class="parent-item"
											 asp-asp-area="CRM" asp-controller="Dashboard" asp-action="index">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
				</li>
				
				<li class="active">Edit Feature</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="card-box">

				<form method="post" enctype="multipart/form-data">

					<input type="hidden" asp-for="Id" />
					<partial name="_FeatureForm" model="Model" />
				</form>
			</div>


		</div>
	</div>
</div>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />


	}
}